{% macro request_dependencies(path, jquery=true, jquery_ui=true, moment=true) %}
    {% if jquery %}
        <script src="{{ path['jquery'] }}"></script>
    {% endif %}
    {% if jquery_ui %}
        <script src="{{ path['jquery-ui'] }}"></script>
    {% endif %}
    {% if moment %}
        <script src="{{ path['moment'] }}"></script>
    {% endif %}
{% endmacro %}

{% macro request_calendar(mod_name, path) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='{}/fullcalendar.css'.format(mod_name)) }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='{}/mod-calendar.css'.format(mod_name)) }}"/>
    <script src="{{ url_for('static', filename='{}/fullcalendar.min.js'.format(mod_name)) }}"></script>
    <script src="{{ url_for('static', filename='{}/mod-calendar.js'.format(mod_name)) }}"></script>
{% endmacro %}