{% from "{}/calendar_base.html".format(calendar.mod_name) import request_dependencies, request_calendar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    {{ request_dependencies(path) }}
    {{ request_calendar(calendar.mod_name, path) }}
</head>
<body>

<script type="text/javascript">
    $(document).ready(function () {
        var c = new modCalendar({
            url: "{{ url_for(calendar.ep('events')) }}"
        });
    });
</script>
<div id="loading">Loading...</div>
<div id="loading_error">Event loading failed</div>
<div id="calendar"></div>
</body>
</html>
